<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.potato.barcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarcodeScanner"
        tools:replace="android:theme"
        android:requestLegacyExternalStorage="true"
        android:name=".ApplicationClass">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemListActivity"
            android:label="Data List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QRcodeActivity"
            android:label="Create QR Code"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HelpActivity"
            android:parentActivityName=".MainActivity"
            android:label="INFORMATION"/>
        <activity android:name=".ColorPickerActivity"
            android:label="Color Picker"
            android:parentActivityName=".QRcodeActivity"/>

        <provider
            android:authorities="com.potato.barcodescanner.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>